@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    /* transition: all 400ms linear !important; */
}

:root {
    --ff-pulse: "Plus Jakarta Sans", sans-serif;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-3: 300;


    --primary-color: #0389FF;
    --nav-color: #FFFFFF0A;
    --black-color: #000000;
    --bg-color: #020D15;
    --btn-color: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    --slider-color: #F0E8E1;
    --red-color: #FF1300;
    --green-color: #00A106;
    --nav-bg: #FBFDFF03;
    --white-color: #ffff;
    --text-color: #FBFDFF;
    --blue-color: blue;
    --card-color: #031227;
    --timeline-ball: #009DFF;
    --accord-color: #031227;
    --liner-gradient: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    --pink-color: #F7608C;
    --orange-color: #F8AC58;
    --slider-bg: #141044;
    --footer-color: #021728;

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;

}

.black {
    color: var(--black-color);
}

.ff-p {
    font-family: var(--ff-pulse);
}


.curser {
    cursor: pointer;
}

.pb_160 {
    padding-bottom: 160px;
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-40 {
    line-height: var(--lh-40);

}


.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.spacing {
    letter-spacing: 20%;
}

.bttn {
    padding: 13px 32px;
    font-family: var(--ff-pulse);
    font-weight: var(--fw-6);
    font-size: var(--fs-16);
    line-height: var(--lh-27);
    color: var(--white-color);
    background: var(--btn-color);
    border: 1px solid transparent;
    border-radius: 40px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
}

.bttn:hover {
    background: transparent;
    border: 1px solid var(--white-color);
    transition: all 400ms linear;
}

.bg-color {
    background-image: url(../img/png/nav_bg_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FBFDFF33;
}

.main-bg-img {
    background-image: url(../img/png/main_sec.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gap_51 {
    gap: 51px;
}

.nav-linkss {
    position: relative;
    transition: all 400ms linear;
}

.nav-linkss::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #ffffff, #000000);
    transition: all 400ms linear;
    transform: translateY(100%);
}

.nav-linkss::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #000000, #ffffff);
    transition: all 400ms linear;
    transform: translateY(-100%);
}

.nav-linkss:hover {
    opacity: 1 !important;

}

.nav-linkss:hover::before {
    width: 100%;
}

.nav-linkss:hover::after {
    width: 100%;
}

.work_card {
    min-height: 228px;
    width: 231px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3, 137, 255, 0.12);
    border-radius: 15px;
}

.pr_70 {
    padding-right: 70px;
}



.doted_border {
    border: 1px dotted rgba(3, 137, 255, 1);
    border-radius: 5px;
    padding: 9px 7px;
    margin-top: 10px;
}

label[for="upload_file"] {
    padding-top: 3px;
    padding-bottom: 3px;
    background: var(--btn-color);
    border-radius: 44px;
    padding-left: 15px;
    padding-right: 15px;
}


.inside_card {
    max-width: 189px;
    min-height: 185.41px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.33);
    padding: 19px 14px;

}

.main_sec_container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.blue-line {
    width: 103px;
    height: 2px;
    background-color: var(--primary-color);
}

.text_blue {
    color: var(--primary-color);
}

.pt_81 {
    padding-top: 81px;
}

.text_color {
    color: var(--text-color);
}

.mt_28 {
    margin-top: 28px;
}

.black_ellips {
    top: 0;
    right: 0;
    transform: translate(-50%, -20%);
}

.pb_134 {
    padding-bottom: 134px;
}

.mt_82 {
    margin-top: 82px;
}

.box {
    max-width: 221px;
    min-height: 96px;
    backdrop-filter: blur(10px);
    background: rgba(3, 137, 255, 0.12);
    border-radius: 12px;
}

.box span {
    width: 64px;
    height: 64px;
    border-radius: 14px;
    backdrop-filter: blur(15px);
}

.ps_20 {
    padding-left: 20px;
}

.top_right_dashboard_img {
    right: 0;
    top: 55%;
    transform: translate(20%);
}

.top_left_dashboard_img {
    left: 0;
    top: 20%;
    transform: translate(-20%);
}

.bottom_left_dashboard_img {
    left: 0;
    bottom: 20%;
    transform: translate(-40%);
}

.bottom_right_dashboard_img {
    right: 10%;
    bottom: 0;
    transform: translate(0, 30%);
}

.pe_22 {
    padding-right: 22px;
}

.gap_20 {
    gap: 20px;
}

.pt_93 {
    padding-top: 93px;
}

.-mt_20 {
    margin-top: -20px;
}

.bg_color {
    background-color: var(--bg-color);
}

.pt_102 {
    padding-top: 102px;
}

.blue_card span {
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(3, 137, 255, 0.1);
    backdrop-filter: blur(10px);
}

.color_blue {
    color: rgba(3, 137, 255, 1);

}

.blur_card {
    max-width: 531px;
    min-height: 69px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 22px;
}

.mt_10 {
    margin-top: 10px;
}

.pt_177 {
    padding-top: 177px;
}

.mt_44 {
    margin-top: 44px;
}

.left_top {
    top: 0;
    right: 0;
    transform: translateY(-40%);
}

.right_bottom_0 {
    bottom: 0;
    left: 0;
    transform: translateY(50%);
}

.face_sec_full_ellpis {
    top: 50%;
    left: 50%;
}

.pt_130 {
    padding-top: 130px;
}


.slick-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value_blur_card {
    max-width: 400px;
    min-height: 80px;
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(10px);
}

.value_blur_card span {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(10px);
}

.face_right_bottom_o {
    top: 25%;
    right: 0;
}

.slick-list {
    padding: 0 20% 0 20% !important;
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

.slick-dots {
    bottom: -35px;
}

.pt_130 {
    padding-top: 130px;
}

.slick-dots li button {
    display: none;
}

.slick-dots li {
    background-color: var(--white-color);
    width: 10px;
    height: 10px;
    border-radius: 28px;

}

.slick-dots .slick-active {
    background-color: var(--timeline-ball);
    width: 53px;
    height: 10px;
    border-radius: 18px;
}

.slick-slide:not(.slick-current) {
    opacity: 0.4;
}

.blue_card {
    max-width: 531px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    min-height: 134px;
    padding-top: 17px;
    padding-left: 15px;
}

.redact_ellips {
    right: -50%;
    top: -40%;
}

.pt_207 {
    padding-top: 207px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_81 {
    margin-top: 81px;
}

.pl_44 {
    padding-left: 44px;
}

.pt_56 {
    padding-top: 56px;
}



.select_btn {
    padding: 13px 32px;
    border: 1px solid var(--text-color);
    border-radius: 40px;
    background-color: transparent;

}

.svg_box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0389FF1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur_card:hover,
.value_blur_card:hover {
    box-shadow: 0px 4px 15px 0px #2746ED80;
    /* box-shadow: 10px 10px 22px -7px rgba(39, 70, 237, 0.75); */
}

.slick_item {
    max-width: 911px;
    min-height: 253px;
    background-color: #022246;
}

.slick_slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ROW>* {
    padding: 0 !important;
}

.onhover:hover .dollar-txt {
    color: var(--timeline-ball);
}

.onhover:hover .select_btn {
    background: var(--btn-color);
    border: 1px solid transparent;
    border-radius: 40px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
}

.onhover:hover .hover_ellips {
    opacity: 1;
}

.hover_ellips {
    top: 30%;
    right: 10%;
    position: absolute;
    opacity: 0;
}

.pt_46 {
    padding-top: 46px;
}

.w_350 {
    width: 350px;
}

.bg_img_1 {
    background-image: url("../img/png/main_sec.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blue_box {
    padding: 3px 5px;
    border-radius: 4px;
    background: var(--btn-color);
    display: inline-block;
}

.black_box {
    padding: 3px 5px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    display: inline-block;
}

.pt_110 {
    padding-top: 110px;
}

.pt_33 {
    padding-top: 33px;
}

.input_card {
    background: rgba(251, 253, 255, 0.07);
    justify-content: space-between;
    border-radius: 29px;
    padding-left: 20px;
}


.w_520 {
    width: 520px;

}

input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
}

.input_txt {
    font-family: var(--ff-pulse);
    color: var(--text-color);
    opacity: 80%;
    font-size: var(--fs-16);
    line-height: var(--lh-27);
    font-weight: var(--fw-4);
}

input[type="text"]::placeholder {
    font-family: var(--ff-pulse);
    color: var(--text-color);
    opacity: 80%;
    font-size: var(--fs-16);
    line-height: var(--lh-27);
    font-weight: var(--fw-4);
}

.bg-footer-color {
    background-color: var(--footer-color);
}

.media_app a span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 36px;
}

.under_line {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
}



.min-h-170 {
    min-height: 170px;
}

.pt_174 {
    padding-top: 174px;
}

.time_svg {
    display: none;
}

.blur_sec_txt {
    display: none;
}

.pb_56 {
    padding-bottom: 56px;
}

.gap_13 {
    gap: 13px;
}

.add_img{
    
}


/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Style the custom checkbox */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #2196F3;
}

/* Style the custom checkbox when checked */
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark for the custom checkbox */
.custom-checkbox .checkmark:after {
    content: "";
    display: none;
    width: 6px;
    height: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
    display: block;
}

@media (max-width:992px) {
    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        z-index: 101;
    }

    .menuIcon span {
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: var(--white-color);
    }

    .menubar {
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background-image: url(../img/png/main_sec.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        z-index: 100;
    }

    .show {
        left: 0;
    }

    .blur_card {
        max-width: 100%;
    }

    .blue_card {
        max-width: 100%;
    }

    .value_blur_card {
        max-width: 100%;
    }


}

@media (min-width:992px) {
    .ml_65 {
        margin-left: 65px;
    }

    .main_content_1 {
        max-width: 524px;
    }

    .main_content_2 {
        max-width: 515px;
    }

    .hortxontal_1 {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        top: 0;
        left: 35%;
    }

    .max_w_225 {
        max-width: 225px;
    }

    .hortxontal_2 {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        top: 0;
        left: 70%;
    }

    .max_w_617 {
        max-width: 617px;
    }

    .vertical {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(251, 253, 255, 0.15);
        right: 0;
        top: 35%;
    }

    .hor_line {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        right: 0;
        top: 60%;
    }

    .ver_line_1 {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        left: 25%;
        top: 10%;
    }

    .ver_line_2 {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        left: 50%;
        top: 10%;
    }

    .ver_line_3 {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        left: 75%;
        top: 10%;
    }

}



@media (max-width:1200px) {
    .top_right_dashboard_img {
        right: 0;
        top: 55%;
        transform: translate(1%);
    }

    .top_left_dashboard_img {
        left: 0;
        top: 20%;
        transform: translate(-10%);
    }

    .bottom_left_dashboard_img {
        left: 0;
        bottom: 20%;
        transform: translate(-10%);
    }

    .bottom_right_dashboard_img {
        right: 10%;
        bottom: 0;
        transform: translate(0, 40%);
    }

    .mt_30 {
        margin-top: 30px;
    }
}

@media (max-width:992px) and (min-width:768px) {
    .hortxontal_1 {
        position: absolute;
        top: 0;
        right: 50%;
        height: 55%;
        width: 1px;
        background-color: rgba(251, 253, 255, 0.15);
    }

    .vertical {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(251, 253, 255, 0.15);
        right: 0;
        top: 55%;
    }
}

@media (max-width:768px) {
    .hortxontal_1 {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(251, 253, 255, 0.15);
        top: 35%;
        left: 0;
    }

    .hortxontal_2 {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(251, 253, 255, 0.15);
        top: 70%;
        left: 0;
    }

    .w_520 {
        max-width: 520px;
    }

    .pos_sport {
        position: relative;
        /* left: 272px; */
        left: 50%;
        top: 394px;
    }

    .mt_50 {
        margin-top: 50px;
    }
}

@media (max-width:992px) and (min-width:768px) {
    .hor_line {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        right: 0;
        top: 65%;
    }

    .ver_line_1 {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        left: 0;
        top: 32%;
    }

    .ver_line_2 {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        left: 33%;
        top: 10%;
    }

    .ver_line_3 {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        left: 66%;
        top: 10%;
    }

}

@media (min-width:576px) {
    .text-sm-nowrap {
        text-wrap: nowrap;
    }

    .right-side_arrow {
        right: -20px;
        top: 35%;
    }

}

@media (min-width:1200px) {
    .right-side_arrow {
        right: 0;
        top: 35%;
        transform: translate(35%, 0px);
    }
}


@media (max-width:768px) and (min-width:576px) {
    .hor_line {
        width: 2px;
        height: 100%;
        background-color: rgba(251, 253, 255, 0.15);
        right: 50%;
        /* top: 10px; */
    }

    .ver_line_1 {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        left: 0;
        top: 25%;
    }

    .ver_line_2 {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        left: 0;
        top: 50%;
    }

    .ver_line_3 {
        width: 100%;
        height: 2px;
        background-color: rgba(251, 253, 255, 0.15);
        left: 0%;
        top: 75%;
    }
}